ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

ul span {
  font-weight: bold;
  max-width: 200px;
  background: #ccc;
  border-radius: 0 30px 30px 0;
  border: 1px solid gray;
  padding-left: 5px;
}
