ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 220px;
}

ul span {
  line-height: 30px;
  font-weight: bold;
  min-width: 148px;
  height: 30px;
  background: #ccc;
  border-radius: 0 30px 30px 0;
  border: 1px solid gray;
  padding-left: 5px;
  vertical-align: bottom;
}
