.item{
    
    margin-top:  1px;
    min-width: 148px;
    background: #ccc;
    border-radius: 0 30px 30px 0;
    border:1px solid gray;
    
}

a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    text-decoration: none;
    color: black;
    
}

.content{
    min-width: 100px;
    justify-content: center;
    align-self: center;
    padding-left:10px;
    flex:1 100%;
    

}
.icon{
    // width: 48px;
    // height: 48px;
    // min-width: 48px;
    flex-grow: 0;
    flex-shrink: 0;

}